.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #efeeec;
}
body {
  font-family: Manrope;
}
.display-1 {
  font-family: 'Manrope', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Manrope', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Manrope', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Manrope', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Manrope', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #c6ac8f !important;
}
.bg-success {
  background-color: #45dd96 !important;
}
.bg-info {
  background-color: #2ed3f4 !important;
}
.bg-warning {
  background-color: #ffc823 !important;
}
.bg-danger {
  background-color: #df4352 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #c6ac8f !important;
  border-color: #c6ac8f !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #d7c5b1 !important;
  border-color: #d7c5b1 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #d7c5b1 !important;
  border-color: #d7c5b1 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #323131 !important;
  border-color: #323131 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #4c4a4a !important;
  border-color: #4c4a4a !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #4c4a4a !important;
  border-color: #4c4a4a !important;
}
.btn-info,
.btn-info:active {
  background-color: #2ed3f4 !important;
  border-color: #2ed3f4 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #5eddf7 !important;
  border-color: #5eddf7 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5eddf7 !important;
  border-color: #5eddf7 !important;
}
.btn-success,
.btn-success:active {
  background-color: #45dd96 !important;
  border-color: #45dd96 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #70e5ae !important;
  border-color: #70e5ae !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #70e5ae !important;
  border-color: #70e5ae !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffc823 !important;
  border-color: #ffc823 !important;
  color: #231a00 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffd556 !important;
  border-color: #ffd556 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #231a00 !important;
  background-color: #ffd556 !important;
  border-color: #ffd556 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #df4352 !important;
  border-color: #df4352 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #e66f7a !important;
  border-color: #e66f7a !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #e66f7a !important;
  border-color: #e66f7a !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #c6ac8f;
  color: #c6ac8f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #a98156 !important;
  background-color: transparent !important;
  border-color: #a98156 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c6ac8f !important;
  border-color: #c6ac8f !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #323131;
  color: #323131;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #060606 !important;
  background-color: transparent !important;
  border-color: #060606 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #323131 !important;
  border-color: #323131 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #2ed3f4;
  color: #2ed3f4;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #0aa3c1 !important;
  background-color: transparent !important;
  border-color: #0aa3c1 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #2ed3f4 !important;
  border-color: #2ed3f4 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #45dd96;
  color: #45dd96;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #1fac6a !important;
  background-color: transparent !important;
  border-color: #1fac6a !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #45dd96 !important;
  border-color: #45dd96 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffc823;
  color: #ffc823;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #cb9800 !important;
  background-color: transparent !important;
  border-color: #cb9800 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #231a00 !important;
  background-color: #ffc823 !important;
  border-color: #ffc823 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #df4352;
  color: #df4352;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ae1e2b !important;
  background-color: transparent !important;
  border-color: #ae1e2b !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #df4352 !important;
  border-color: #df4352 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #c6ac8f !important;
}
.text-secondary {
  color: #323131 !important;
}
.text-success {
  color: #45dd96 !important;
}
.text-info {
  color: #2ed3f4 !important;
}
.text-warning {
  color: #ffc823 !important;
}
.text-danger {
  color: #df4352 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #9e7a51 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #1d9f62 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #0996b3 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #bc8d00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #a11b28 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #c6ac8f;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #2ed3f4;
}
.alert-warning {
  background-color: #ffc823;
}
.alert-danger {
  background-color: #df4352;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #c6ac8f;
  border-color: #c6ac8f;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #c6ac8f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f1ebe3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #f1fdf7;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f0fcfe;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fffbef;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fdf1f2;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Manrope', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #c6ac8f !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Manrope', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #c6ac8f;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #c6ac8f;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #c6ac8f;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #c6ac8f;
  border-bottom-color: #c6ac8f;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #c6ac8f !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #323131 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23c6ac8f' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-uXsR4ZDQpI {
  z-index: 1000;
  width: 100%;
}
.cid-uXsR4ZDQpI nav.navbar {
  position: fixed;
}
.cid-uXsR4ZDQpI .container-fluid {
  padding-left: 64px;
  padding-right: 64px;
}
@media (max-width: 992px) {
  .cid-uXsR4ZDQpI .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-uXsR4ZDQpI .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uXsR4ZDQpI .dropdown-menu {
  padding: 0;
  border-radius: 0;
  box-shadow: none;
}
.cid-uXsR4ZDQpI .dropdown-item {
  border: none !important;
  background: #121212 !important;
}
.cid-uXsR4ZDQpI .dropdown-item:hover,
.cid-uXsR4ZDQpI .dropdown-item:focus {
  background: #ffffff !important;
  color: #121212 !important;
}
.cid-uXsR4ZDQpI .dropdown-item:hover span {
  color: white;
}
.cid-uXsR4ZDQpI .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-uXsR4ZDQpI .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-uXsR4ZDQpI .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-uXsR4ZDQpI .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-uXsR4ZDQpI .nav-link {
  position: relative;
}
.cid-uXsR4ZDQpI .container {
  display: flex;
  margin: 0 auto;
  max-width: 1600px;
}
@media (min-width: 992px) {
  .cid-uXsR4ZDQpI .container {
    flex-wrap: nowrap;
  }
}
.cid-uXsR4ZDQpI .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.cid-uXsR4ZDQpI .iconfont-wrapper:hover {
  opacity: .5;
}
.cid-uXsR4ZDQpI .dropdown-menu,
.cid-uXsR4ZDQpI .navbar.opened {
  background: #121212 !important;
}
.cid-uXsR4ZDQpI .nav-item:focus,
.cid-uXsR4ZDQpI .nav-link:focus {
  outline: none;
}
.cid-uXsR4ZDQpI .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uXsR4ZDQpI .dropdown .dropdown-menu .dropdown-item::after {
  right: 1.6rem;
}
.cid-uXsR4ZDQpI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uXsR4ZDQpI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uXsR4ZDQpI .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uXsR4ZDQpI .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uXsR4ZDQpI .navbar {
  min-height: 110px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(18, 18, 18, 0.5);
  padding: 0 !important;
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
}
.cid-uXsR4ZDQpI .navbar.opened {
  transition: all 0.3s;
}
.cid-uXsR4ZDQpI .navbar .dropdown-item {
  padding: 8px 3.2rem 8px 22px;
  line-height: 1.5;
  border-radius: 3rem;
  margin-left: 4px;
  margin-bottom: 4px;
}
.cid-uXsR4ZDQpI .navbar .navbar-logo img {
  width: auto;
  border-radius: 6px !important;
}
.cid-uXsR4ZDQpI .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-uXsR4ZDQpI .navbar.collapsed {
  justify-content: center;
}
.cid-uXsR4ZDQpI .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uXsR4ZDQpI .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-uXsR4ZDQpI .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 5.6rem);
  }
}
.cid-uXsR4ZDQpI .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uXsR4ZDQpI .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uXsR4ZDQpI .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-uXsR4ZDQpI .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uXsR4ZDQpI .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-uXsR4ZDQpI .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-uXsR4ZDQpI .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uXsR4ZDQpI .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uXsR4ZDQpI .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uXsR4ZDQpI .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-uXsR4ZDQpI .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-uXsR4ZDQpI .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-uXsR4ZDQpI .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-uXsR4ZDQpI .navbar .dropdown-menu .dropdown-item {
    padding: 14px !important;
    text-align: center;
    margin-left: 0;
  }
  .cid-uXsR4ZDQpI .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 0.5rem;
    max-width: 80%;
  }
  .cid-uXsR4ZDQpI .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uXsR4ZDQpI .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-uXsR4ZDQpI .navbar.navbar-short {
  min-height: 96px;
}
.cid-uXsR4ZDQpI .navbar.navbar-short .navbar-brand {
  min-height: 96px;
}
.cid-uXsR4ZDQpI .navbar-brand {
  min-height: 96px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word !important;
  z-index: 1;
  word-wrap: break-word !important;
  white-space: normal;
}
.cid-uXsR4ZDQpI .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 700;
}
.cid-uXsR4ZDQpI .navbar-brand .navbar-caption:hover,
.cid-uXsR4ZDQpI .navbar-brand .navbar-caption:focus {
  color: #ffffff !important;
}
.cid-uXsR4ZDQpI .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uXsR4ZDQpI .navbar.opened .navbar-brand .navbar-caption:hover,
.cid-uXsR4ZDQpI .navbar.opened .navbar-brand .navbar-caption:focus {
  color: #121212 !important;
}
.cid-uXsR4ZDQpI .dropdown-item.active,
.cid-uXsR4ZDQpI .dropdown-item:active {
  background-color: transparent;
}
.cid-uXsR4ZDQpI .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-uXsR4ZDQpI .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uXsR4ZDQpI .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uXsR4ZDQpI .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #121212;
  top: 3.2rem;
  border-radius: 30px;
}
@media (max-width: 992px) {
  .cid-uXsR4ZDQpI .navbar.navbar-expand-lg .dropdown .dropdown-menu {
    top: 0;
  }
}
.cid-uXsR4ZDQpI .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
  top: 0;
  border-left: 1px solid transparent;
}
.cid-uXsR4ZDQpI .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-uXsR4ZDQpI ul.navbar-nav {
  flex-wrap: wrap;
}
@media (min-width: 991px) {
  .cid-uXsR4ZDQpI ul.navbar-nav {
    padding: 0;
    background-color: transparent;
    border: 2px solid transparent;
  }
}
.cid-uXsR4ZDQpI .navbar-buttons {
  text-align: center;
  width: auto;
}
.cid-uXsR4ZDQpI .navbar-buttons .btn {
  white-space: nowrap;
  margin-right: 0;
  min-height: auto;
  width: auto;
}
.cid-uXsR4ZDQpI .navbar-buttons .btn .mbr-iconfont {
  width: 32px;
  height: 32px;
  min-width: 32px;
  font-size: 16px;
  margin-left: 32px;
  margin-right: -20px;
}
@media (max-width: 575px) {
  .cid-uXsR4ZDQpI .navbar-buttons .btn {
    width: auto !important;
  }
}
.cid-uXsR4ZDQpI button.navbar-toggler {
  outline: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  border-radius: 100%;
  background-color: #121212 !important;
  border: none !important;
  box-shadow: none !important;
}
.cid-uXsR4ZDQpI button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 20px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-uXsR4ZDQpI button.navbar-toggler .hamburger span:nth-child(1) {
  top: 18px;
  left: 15px;
  transition: all 0.2s;
}
.cid-uXsR4ZDQpI button.navbar-toggler .hamburger span:nth-child(2) {
  left: 15px;
  top: 24px;
  transition: all 0.15s;
}
.cid-uXsR4ZDQpI button.navbar-toggler .hamburger span:nth-child(3) {
  left: 15px;
  top: 24px;
  transition: all 0.15s;
}
.cid-uXsR4ZDQpI button.navbar-toggler .hamburger span:nth-child(4) {
  left: 15px;
  top: 30px;
  transition: all 0.2s;
}
.cid-uXsR4ZDQpI nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uXsR4ZDQpI nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uXsR4ZDQpI nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uXsR4ZDQpI nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uXsR4ZDQpI .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-uXsR4ZDQpI a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-uXsR4ZDQpI .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uXsR4ZDQpI .navbar {
    height: 70px;
  }
  .cid-uXsR4ZDQpI .navbar.opened {
    height: auto;
  }
  .cid-uXsR4ZDQpI .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uXsR4ZDQpI .navbar-nav {
  margin: 0 auto;
}
.cid-uXsR4ZDQpI .nav-item {
  padding: 0;
  margin: 0;
}
.cid-uXsR4ZDQpI .nav-item .nav-link {
  padding: 8px 22px !important;
  margin: 0 8px !important;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  border-radius: 3rem;
}
.cid-uXsR4ZDQpI .nav-item .nav-link::after {
  color: #ffffff !important;
  transform: rotate(0);
  transition: .3s;
}
.cid-uXsR4ZDQpI .nav-item .nav-link:hover {
  background-color: #ffffff;
  color: #121212 !important;
}
.cid-uXsR4ZDQpI .nav-item .nav-link:hover::after {
  color: #121212 !important;
}
.cid-uXsR4ZDQpI .nav-item .nav-link.show::after {
  transform: rotate(180deg);
}
.cid-uXsR4ZDQpI .nav-item .dropdown-menu {
  background-color: transparent !important;
}
.cid-uXsR4ZDQpI .nav-item .dropdown-menu:hover {
  background-color: transparent !important;
}
@media (max-width: 991px) {
  .cid-uXsR4ZDQpI .navbar {
    justify-content: flex-start !important;
  }
  .cid-uXsR4ZDQpI .navbar.opened {
    min-height: 100vh !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
  }
  .cid-uXsR4ZDQpI .navbar-collapse {
    padding: 20px 0 3rem;
  }
  .cid-uXsR4ZDQpI .navbar-collapse .navbar-nav {
    width: 100%;
    margin-bottom: 24px;
  }
  .cid-uXsR4ZDQpI .navbar-collapse .nav-item {
    width: 100%;
    margin: 0;
  }
  .cid-uXsR4ZDQpI .navbar-collapse .nav-item:not(:first-child) {
    border-top: 1px solid transparent;
  }
  .cid-uXsR4ZDQpI .navbar-collapse .nav-item .nav-link {
    padding: 14px !important;
    justify-content: center;
    margin: 0 !important;
    margin-bottom: 4px !important;
  }
}
.cid-uXsR4ZDQpI .content-wrap {
  min-height: 110px;
}
.cid-uXsR4ZDQpI .mbr-section-btn .btn::after,
.cid-uXsR4ZDQpI .mbr-section-btn .btn::before {
  background-image: linear-gradient(90deg, #386bb7, #e24c4a 150%);
}
.cid-uXsR4ZDQpI .mbr-section-btn .btn:hover,
.cid-uXsR4ZDQpI .mbr-section-btn .btn:focus {
  color: #ffffff !important;
}
.cid-uXsR4ZDQpI .mbr-section-btn .btn:hover::after,
.cid-uXsR4ZDQpI .mbr-section-btn .btn:focus::after {
  background-image: linear-gradient(90deg, #386bb7, #e24c4a 150%);
  opacity: 1;
}
.cid-uXbERw8rje {
  display: flex;
  padding-top: 24rem;
  padding-bottom: 3rem;
  background-image: url("https://r.mobirisesite.com/1844519/assets/images/photo-1578538495992-8cb861684-h_mfpzpnlh.jpg");
}
.cid-uXbERw8rje .mbr-overlay {
  background-color: #000000;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .cid-uXbERw8rje {
    align-items: flex-start;
  }
  .cid-uXbERw8rje .row {
    justify-content: center;
  }
  .cid-uXbERw8rje .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-uXbERw8rje .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-uXbERw8rje {
    -webkit-align-items: center;
    align-items: flex-start;
  }
  .cid-uXbERw8rje .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-uXbERw8rje .content-wrap {
    width: 100%;
  }
}
.cid-uXbERw8rje .mbr-section-title,
.cid-uXbERw8rje .mbr-section-subtitle {
  text-align: center;
}
.cid-uXbERw8rje .mbr-text,
.cid-uXbERw8rje .mbr-section-btn {
  text-align: center;
  color: #ffd7ef;
}
.cid-uXbERw8rje .mbr-section-title {
  color: #ffd7ef;
}
.cid-uXbERw8rje .mbr-section-subtitle {
  color: #ffd7ef;
}
.cid-uXbERw8frD {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("https://r.mobirisesite.com/1844519/assets/images/background1-h_mfq17xmi.jpg");
}
.cid-uXbERw8frD .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-uXbERw8frD {
    align-items: center;
  }
  .cid-uXbERw8frD .row {
    justify-content: center;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-uXbERw8frD .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-uXbERw8frD {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-uXbERw8frD .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-uXbERw8frD .content-wrap {
    width: 100%;
  }
}
.cid-uXbERw8frD .mbr-section-title {
  text-align: center;
  color: #f7f7f7;
}
.cid-uXbERw8frD .mbr-text,
.cid-uXbERw8frD .mbr-section-btn {
  text-align: center;
  color: #f7f7f7;
}
.cid-uXbERw8Zuu {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-image: url("https://r.mobirisesite.com/1844519/assets/images/photo-1641038624425-81fb2bd45-h_mfq3cmr0.jpg");
}
.cid-uXbERw8Zuu .item-subtitle {
  line-height: 1.2;
  color: #232323;
  text-align: center;
}
.cid-uXbERw8Zuu img,
.cid-uXbERw8Zuu .item-img {
  width: 100%;
}
.cid-uXbERw8Zuu .item:focus,
.cid-uXbERw8Zuu span:focus {
  outline: none;
}
.cid-uXbERw8Zuu .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uXbERw8Zuu .item {
    margin-bottom: 1rem;
  }
}
.cid-uXbERw8Zuu .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uXbERw8Zuu .mbr-section-title {
  color: #f7f7f7;
}
.cid-uXbERw8Zuu .mbr-text,
.cid-uXbERw8Zuu .mbr-section-btn {
  color: #f7f7f7;
  text-align: center;
}
.cid-uXbERw8Zuu .item-title {
  color: #f7f7f7;
  text-align: center;
}
.cid-uXbERw8Zuu .content-head {
  max-width: 800px;
}
.cid-uXcfLwOlZV {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-image: url("https://r.mobirisesite.com/1844519/assets/images/background1-h_mfu2u5k9.jpg");
}
.cid-uXcfLwOlZV .item-subtitle {
  line-height: 1.2;
  color: #232323;
  text-align: center;
}
.cid-uXcfLwOlZV img,
.cid-uXcfLwOlZV .item-img {
  width: 100%;
}
.cid-uXcfLwOlZV .item:focus,
.cid-uXcfLwOlZV span:focus {
  outline: none;
}
.cid-uXcfLwOlZV .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uXcfLwOlZV .item {
    margin-bottom: 1rem;
  }
}
.cid-uXcfLwOlZV .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uXcfLwOlZV .mbr-section-title {
  color: #232323;
}
.cid-uXcfLwOlZV .mbr-text,
.cid-uXcfLwOlZV .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-uXcfLwOlZV .item-title {
  color: #f7f7f7;
  text-align: center;
}
.cid-uXcfLwOlZV .content-head {
  max-width: 800px;
}
.cid-uXcAgXsAq1 {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-image: url("https://r.mobirisesite.com/1844519/assets/images/background1-h_mfq5vnd6.jpg");
}
.cid-uXcAgXsAq1 .mbr-overlay {
  background: #121212;
  opacity: 0.2;
}
.cid-uXcAgXsAq1 .item-subtitle {
  line-height: 1.2;
  color: #232323;
  text-align: center;
}
.cid-uXcAgXsAq1 img,
.cid-uXcAgXsAq1 .item-img {
  width: 100%;
}
.cid-uXcAgXsAq1 .item:focus,
.cid-uXcAgXsAq1 span:focus {
  outline: none;
}
.cid-uXcAgXsAq1 .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uXcAgXsAq1 .item {
    margin-bottom: 1rem;
  }
}
.cid-uXcAgXsAq1 .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uXcAgXsAq1 .mbr-section-title {
  color: #f7f7f7;
}
.cid-uXcAgXsAq1 .mbr-text,
.cid-uXcAgXsAq1 .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-uXcAgXsAq1 .item-title {
  color: #f7f7f7;
  text-align: center;
}
.cid-uXcAgXsAq1 .content-head {
  max-width: 800px;
}
.cid-uXcG2Mjyn9 {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-image: url("https://r.mobirisesite.com/1844519/assets/images/background1-h_mfu3tsiq.jpg");
}
.cid-uXcG2Mjyn9 .mbr-overlay {
  background: #121212;
  opacity: 0.2;
}
.cid-uXcG2Mjyn9 .item-subtitle {
  line-height: 1.2;
  color: #232323;
  text-align: center;
}
.cid-uXcG2Mjyn9 img,
.cid-uXcG2Mjyn9 .item-img {
  width: 100%;
}
.cid-uXcG2Mjyn9 .item:focus,
.cid-uXcG2Mjyn9 span:focus {
  outline: none;
}
.cid-uXcG2Mjyn9 .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uXcG2Mjyn9 .item {
    margin-bottom: 1rem;
  }
}
.cid-uXcG2Mjyn9 .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uXcG2Mjyn9 .mbr-section-title {
  color: #f7f7f7;
}
.cid-uXcG2Mjyn9 .mbr-text,
.cid-uXcG2Mjyn9 .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-uXcG2Mjyn9 .item-title {
  color: #f7f7f7;
  text-align: center;
}
.cid-uXcG2Mjyn9 .content-head {
  max-width: 800px;
}
.cid-uXnIOTEqyG {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-image: url("https://r.mobirisesite.com/1844519/assets/images/photo-1641038624425-81fb2bd45-h_mfq3c8ae.jpg");
}
.cid-uXnIOTEqyG .mbr-overlay {
  background: #121212;
  opacity: 0.4;
}
.cid-uXnIOTEqyG .item-subtitle {
  line-height: 1.2;
  color: #232323;
  text-align: center;
}
.cid-uXnIOTEqyG img,
.cid-uXnIOTEqyG .item-img {
  width: 100%;
}
.cid-uXnIOTEqyG .item:focus,
.cid-uXnIOTEqyG span:focus {
  outline: none;
}
.cid-uXnIOTEqyG .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uXnIOTEqyG .item {
    margin-bottom: 1rem;
  }
}
.cid-uXnIOTEqyG .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uXnIOTEqyG .mbr-section-title {
  color: #f7f7f7;
}
.cid-uXnIOTEqyG .mbr-text,
.cid-uXnIOTEqyG .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-uXnIOTEqyG .item-title {
  color: #f7f7f7;
  text-align: center;
}
.cid-uXnIOTEqyG .content-head {
  max-width: 800px;
}
.cid-uXbERw8aN2 {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #c562af;
}
.cid-uXbERw8aN2 .mbr-text {
  color: #232323;
}
.cid-uXbERw8aN2 .mbr-section-subtitle {
  color: #232323;
}
.cid-uXsWZtHbH2 {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #db8dd0;
}
.cid-uXsWZtHbH2 .mbr-text {
  color: #232323;
}
.cid-uXsWZtHbH2 .mbr-section-subtitle {
  color: #232323;
}
.cid-uXMkHzCxEg {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fec5f6;
}
.cid-uXMkHzCxEg .row {
  flex-direction: row-reverse;
}
.cid-uXMkHzCxEg .justify-content-center {
  align-items: center;
}
.cid-uXMkHzCxEg .mbr-section-title {
  text-align: center;
}
.cid-uXMkHzCxEg .mbr-text,
.cid-uXMkHzCxEg .mbr-section-btn {
  text-align: center;
}
@media (max-width: 767px) {
  .cid-uXMkHzCxEg .item-wrapper {
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-uXMkHzCxEg .item-wrapper {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-uXMkHzCxEg .item-wrapper {
    padding: 4rem;
  }
}
.cid-uXbERwbvFa {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffe7fc;
}
.cid-uXbERwbvFa .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-uXbERwbvFa .social-row .soc-item {
  margin: 8px;
}
.cid-uXbERwbvFa .social-row .soc-item a:hover .mbr-iconfont,
.cid-uXbERwbvFa .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #fec5f6;
}
.cid-uXbERwbvFa .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #ffffff;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.cid-uXbERwbvFa .row-links {
  width: 100%;
  justify-content: center;
}
.cid-uXbERwbvFa .header-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-uXbERwbvFa .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-uXbERwbvFa .header-menu li p {
  margin: 0;
}
.cid-uXbERwbvFa .copyright {
  margin-bottom: 0;
  color: #232323;
  text-align: center;
}
.cid-uXbERwbvFa .mbr-section-title {
  color: #ffffff;
}
